
<ifModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /PHPoop/final/catalogRyt/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]
</ifModule>
